body {
    background-color:#EAE0DA;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

hr{
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}

h1{
    color: #645CBB;
    font-family: cursive;
}

h3{
    color: #645CBB;
    font-family: cursive;
}

img{
    background-color:#EAE0DA ;
}